@media screen and (min-width:1568px) and (max-width:2000px) {
    .description .descr p{
        height: 10vh;
    }
    .menu .cart-items-container .cart-item img[alt="pr"]{
        width: 550px;
        height: 550px;
        margin: 10px;
        margin-bottom: 0px;
        display: inline-block;
    }
    .menu .cart-items-container .cart-item #cont{
        display: inline-block;
        width: 550px;
        /* height: 20vh; */
        text-align: center;
        background-color: darkgreen;
        color: white;
        margin-top: -15px;
        margin-bottom: 10%;
    }
    #ftar{
        height: 380px;
    }
    .footer .share {
        margin-left: 70%;
        margin-top: -15%;
    } 

}